<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Control</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Arrow Key Control</h1>
    

    <!-- 
    <img src="{{ url_for('video_feed') }}" alt="Video Feed">
    -->
    <!--
    <img src="http://192.168.100.11/html/cam_pic.php" alt="RPI Live Stream">
    -->
    
    <iframe width="640" height="480"
    src="http://192.168.100.11/html/">      
    </iframe>

    <script>
        $(document).keydown(function(e) {
            let direction;
            switch(e.which) {
                case 37: // left
                    direction = 'left';
                    break;
                case 38: // up
                    direction = 'up';
                    break;
                case 39: // right
                    direction = 'right';
                    break;
                case 40: // down
                    direction = 'down';
                    break;
                default:
                    return;
            }
            $.post(`/control/${direction}`);
        });

        $(document).keyup(function(e) {
            $.post('/control/stop');
        });
    </script>
</body>
</html>
